.active-auctions {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem;
    overflow: hidden;
}

.active-auctions-title {
    color: var(--mendelu-pef-color);
    font-size: 4rem;
    font-weight: 700;
}

.col-container {
    display: flex;
    gap: 2rem;
}