.filters {
    background-color: #F0F0F0;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 10%;
    border-radius: 25px;
    padding: 2rem;
    gap: 2rem;
}

.filter-container {
    display: flex;
    flex-direction: column;
}

.filter-group-title {
    font-size: 1.3rem;
    font-weight: bolder;
}