.small-preview {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    height: 400px;
    overflow: hidden;
    max-width: 25%;
}

.small-image-container {
    display: flex;
    flex: 2;
    overflow: hidden;
    max-height: 60%;
}

.small-image-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.small-info-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

.tag-absolute {
    display: flex;
    position: absolute;
    align-content: center;
}