.tag {
    border-radius: 25px;
    padding: 10px 15px;
    font-weight: 600;
    font-size: clamp(0.7rem, 1.5vw, 1.5rem);
}

.tag-blue {
    color: var(--mendelu-pef-color-light);
}

.tag-outline {
    border: 2px solid var(--mendelu-pef-color-light);
}