@import "tailwindcss";

:root {
  --mendelu-pef-color: #02449b;
  --mendelu-pef-color-dark: #003270;
  --mendelu-pef-color-light: #5fd0f3;
  --btn-color: #007bff;
  --btn-color-hover: #003270;

  --navbar-height: 70px;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.large-text{
  font-size: clamp(2rem, 5vw, 5.2rem);
  font-weight: 800;
  line-height: 1.1;
}

.medium-text{
  font-size: clamp(2rem, 2vw, 4.5rem);
}

.bold-text{
  font-weight: 700;
}

.gray-italic-text{
  color: #9f9f9f;
  font-style: italic;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  overflow-x: hidden;
}

.hero {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.alert-error {
  padding: 1rem;
  background-color: #fef2f2;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  color: #b91c1c;
}

.alert-success {
  padding: 1rem;
  background-color: #f0fdf4;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  color: #15803d;
}

.alert-info {
  padding: 1rem;
  background-color: #caecff;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  color: var(--mendelu-pef-color);
}