:root {
  --mendelu-pef-color: #02449b;
  --mendelu-pef-color-dark: #003270;
  --mendelu-pef-color-light: #5fd0f3;
  --btn-color: #007bff;

  --navbar-height: 70px;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}


.large-text{
  font-size: clamp(2rem, 6vw, 5.2rem);
  font-weight: 800;
  line-height: 1.1;
}

.medium-text{
  font-size: clamp(2rem, 2vw, 4.5rem);
}

.hero {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}