.btn-create {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--btn-color);
    color: white;
    border: none;
    padding: 0.25rem 1rem 0.25rem 0.25rem;
    border-radius: 2rem;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

.btn-create img {
    height: 24px;
    width: auto;
    background-color: var(--mendelu-pef-color);
    border-radius: 50%;
    padding: 11px 7px;
}