.main-auctions {
    background-color: var(--mendelu-pef-color);
    color: white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-grow: 1;
    justify-content: space-around;
}

.main-auctions-container {
    display: flex;
    gap: 2rem;
    overflow-x: auto;
    padding: 2rem;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}

.main-auctions-container::-webkit-scrollbar {
    display: none;
}

@media (max-width: 576px) {
    .main-auctions-container {
        padding: 1rem;
        gap: 1rem;
    }
}
